<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>DataBase</title>
</head>
<body>
     <p>Estás buscando: <strong>{{query}}</strong></p>

     {% if articule %}
          <p>Artículos encontrados: {{articule|length}} articule</p>

          <ul>
               {% for item in articule %}
               <li>
                    {{item.name}} &nbsp; {{item.section}} &nbsp; {{item.price}}
               </li>
               {% endfor %}
          </ul>
     {% else %}
          <p>No hay nada de nada</p>

     {% endif %}

</body>
</html>